# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node
node_modules/

# Dependencies & Build Output
dist
dist-ssr
build/

# IDE & OS Variables
.DS_Store
.idea
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sw?

# ENV
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
